#up2pay-modal-contact {
  p.contact-us {
    margin: 20px auto;
    text-align: center;
  }
}

#up2pay-modal-check-config {
 .requirement {
   padding-left: 20px;

   .icon-times {
     color: darkred;
   }

   .icon-check {
     color: darkgreen;
   }
 }
}

#up2pay-modal-whatsnew {
  a.btn {
    background: #009597;
    color: white;
  }
}
